NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDHMSMmon39s5z06pKObbbvFYjO2VuCpGM"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="digitalcoach-31674.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="digitalcoach-31674"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="digitalcoach-31674.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="491437446049"
NEXT_PUBLIC_FIREBASE_APP_ID="1:491437446049:web:d0675ec8ccd56ce25231e0"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-8DPTJ2ED91"